apiVersion: apps/v1
kind: Deployment
metadata:
  name: track-data-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: track-data
  template:
    metadata:
      labels:
        app: track-data
    spec:
      containers:
        - image: strimr/track-data:1.0.0-SNAPSHOT-14
          name: track-data
          env:
            - name: KUMULUZEE_DISCOVERY_ETCD_HOSTS
              value: http://etcd:2379
            - name: KUMULUZEE_CONFIG_ETCD_HOSTS
              value: http://etcd:2379
            - name: KUMULUZEE_SERVER_BASEURL
              value: http://35.240.79.227:8080
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://track-data-db:5432/track_data
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: dbuser
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              value: postgres
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: track-data
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: track-data